@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #0d0d11;
  --color-accent: #6fffe9;
  --color-text: #eaeaea;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  color: var(--color-accent);
}
